@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-lime-300 {
    text-shadow: 2px 2px 4px #bef264; /* هذا هو لون lime-300 من Tailwind */
  }
  .text-shadow-teal-300 {
    text-shadow: 1px 1px 4px #00e6e6; /* هذا هو لون lime-300 من Tailwind */
  }
  .btn-enroll {
    font-weight: 300;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5rem;
    text-align: center;
    user-select:none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgb(5 150 105 / 0.5);
    cursor: pointer;
  }
  .btn-enroll:hover, .btn-enroll:focus {
    outline: none;
  }
  .iframe-wrap {
  position: relative;
}
.iframe-wrap::after {
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
  /* === Light Theme === */
  .bg-header {
    @apply bg-lime-50 ;
  }
  .text-body {
    @apply text-lime-900;
  }
  .text-theme-1{
    @apply text-lime-900;
  }
  .text-theme-2{
    @apply text-lime-700;
  }
  .text-theme-3{
    @apply text-lime-500;
  }
  .border-input{
    @apply border-lime-400 border-4;
  }
  .bg-theme-1{
    @apply bg-lime-800 text-white;
  }
  .bg-theme-2{
    @apply bg-lime-600;
  }
  .bg-theme-3{
    @apply bg-lime-400;
  }
  .bg-theme-4{
    @apply bg-lime-200;
  }
  .text-h1 {
    @apply text-lime-900;
  }
  .text-h2 {
    @apply text-lime-800;
  }
  .text-h3 {
    @apply text-lime-700;
  }
  .text-h4 {
    @apply text-lime-600;
  }
  .text-p {
    @apply text-lime-500;
  }
  .theme-btn{
      @apply m-2 rounded-full text-white px-3 py-2 transition-colors lg:text-3xl md:text-2xl sm:text-xl bg-lime-500 hover:bg-lime-700 ;
  }
  .theme-btn-md{
      @apply m-2 rounded-[2vw] btn-enroll text-white lg:text-xl md:text-lg sm:text-base bg-lime-500 hover:bg-lime-700 ;
  }
  .bg-hero{
   @apply bg-white py-8 px-4 rounded-[10vw] ;
  }

  .text-header {
    @apply text-lime-900 font-bold text-lg;
  }
  .text-theme-title{
    @apply text-lime-800 uppercase text-shadow-lg text-shadow-lime-300;
  }
  .text-subheader {
    @apply text-lime-800;
  }
   .side-theme{
     @apply bg-lime-300/50 text-lime-700 my-5 rounded-lg;
      
   }
   .side-sub-list{
    @apply flex items-center space-x-2 shadow py-3 px-2 hover:underline w-4/5 block text-start;
   }
  .bg-body {
    @apply bg-lime-100;
  }
  .bg-footer{
    @apply bg-lime-200/30  text-lime-900;
  }
  .head-img{
    @apply bg-clip-content bg-contain h-auto;
  }

  .button-header {
    @apply  text-lime-700 hover:text-lime-500 ;
  }
  .active-link {
    @apply text-lime-500  font-semibold rounded;
  }
  .border-theme{
    @apply border-lime-600;
  }
  .bg-white-text{
   @apply text-lime-700  ;
  }
  .login-header {
    @apply p-1 bg-white rounded-full text-lime-600 hover:text-lime-900;
  }
  .bg-text-img{
      @apply bg-lime-500/50  p-5 text-lime-900;
  }
  .footer-link{
    @apply   text-lime-800 hover:text-lime-600;
  }
  /* === Dark Theme Overrides === */
  .dark .footer-link{
    @apply   text-white hover:text-teal-300;
  }
  .dark .bg-text-img{
      @apply bg-lime-100/50  p-5 text-teal-950;
  }
  .dark .active-link {
    @apply text-teal-100 ;
  }
  .dark .border-theme{
    @apply border-teal-600;
  }
  .dark .bg-header {
    @apply bg-teal-900;
  }
  .dark .text-theme-title{
    @apply text-teal-800 uppercase text-shadow-lg text-shadow-teal-300;
  }
  .dark .bg-footer{
    @apply bg-teal-900 text-white;
  }
  .dark .theme-btn{
      @apply m-3 rounded-full text-teal-800 px-3 py-2 transition-colors lg:text-3xl md:text-2xl sm:text-xl bg-teal-300 hover:bg-teal-200 ;
  }
  .dark .theme-btn-md{
      @apply  btn-enroll text-teal-800   lg:text-xl md:text-lg sm:text-base bg-teal-300 hover:bg-teal-200 ;
  }
  .dark .bg-body {
    @apply bg-teal-950 ;
  }
  .dark .head-img{
    @apply bg-clip-content bg-contain h-full  ;
  }
  .dark .text-header {
    @apply text-white;
  }

  .dark .text-subheader {
    @apply text-teal-50;
  }
  .dark .bg-hero{
   @apply bg-teal-700 py-8 px-4 rounded-[10vw] ;
  }
  .dark .bg-white-text{
   @apply text-teal-700  ;
  }

  .dark .login-header {
    @apply p-2 bg-teal-900 rounded-full text-white hover:text-teal-100;
  }

  .dark .button-header {
    @apply  text-white hover:text-teal-100;
  }
  .dark .text-body {
    @apply bg-lime-900;
  }

  .dark .text-h1 {
    @apply text-white;
  }
  .dark .text-h2 {
    @apply text-lime-50;
  }

  .dark .text-h3 {
    @apply text-lime-50;
  }
  .dark .text-h4 {
    @apply text-lime-100;
  }
  .dark .text-p {
    @apply text-teal-200;
  }
  .dark .text-theme-1{
    @apply text-teal-900;
  }
  .dark .text-theme-2{
    @apply text-teal-700;
  }
  .dark .text-theme-3{
    @apply text-teal-500;
  }
  .dark .bg-theme-1{
    @apply bg-teal-800;
  }
  .dark .bg-theme-2{
    @apply bg-teal-600;
  }
  .dark .side-theme{
     @apply bg-teal-600 text-teal-100 mb-5;
   }
  .dark .bg-theme-3{
    @apply bg-teal-400;
  }
  .dark .bg-theme-4{
    @apply bg-teal-200;
  }
  .dark .border-input{
    @apply border-teal-400 border-4;
  }

}
