@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .rtl-select {
    @apply appearance-none w-full border border-gray-300 rounded px-4 py-2 pr-10 bg-white text-right;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 10.939l3.71-3.71a.75.75 0 011.08 1.04l-4.25 4.25a.75.75 0 01-1.08 0l-4.25-4.25a.75.75 0 01.02-1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-size: 1rem;
    padding-left: 2.5rem;
    direction: rtl;
  }
}
@layer utilities {
  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
 


  .text-shadow-lime-300 {
    text-shadow: 2px 2px 4px #bef264; /* هذا هو لون lime-300 من Tailwind */
  }
  .text-shadow-teal-300 {
    text-shadow: 1px 1px 4px #00e6e6; /* هذا هو لون lime-300 من Tailwind */
  }
  .border-form-input{
        @apply border-sky-500   ;

  }
  .btn-enroll {
    font-weight: 300;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5rem;
    text-align: center;
    user-select:none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px #4572ba;
    cursor: pointer;
  }
  .btn-enroll:hover, .btn-enroll:focus {
    outline: none;
  }
  .iframe-wrap {
  position: relative;
}
.iframe-wrap::after {
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
  /* === Light Theme === */
  .bg-header {
    @apply bg-sky-900 text-white  ;
  }
  .text-body {
    @apply text-sky-900;
  }
  .text-theme-1{
    @apply text-sky-900;
  }
  .text-theme-2{
    @apply text-sky-700;
  }
  .text-theme-3{
    @apply text-sky-500;
  }
  .border-input{
    @apply border border-sky-600  rounded focus:border-sky-300 focus:shadow ;
  }
  .bg-theme-1{
    @apply bg-sky-800 text-white;
  }
  .bg-theme-2{
    @apply bg-sky-600;
  }
  .bg-theme-3{
    @apply bg-sky-400;
  }
  .bg-theme-4{
    @apply bg-sky-300;
  }
  .bg-theme-5{
    @apply bg-sky-300/20;
  }
  .text-h1 {
    @apply text-sky-900;
  }
  .text-h2 {
    @apply text-sky-800;
  }
  .text-h3 {
    @apply text-sky-700;
  }
  .text-h4 {
    @apply text-sky-600;
  }
  .text-p {
    @apply text-sky-500;
  }
  .theme-btn{
      @apply m-2 rounded-full text-white px-3 py-2 transition-colors lg:text-3xl md:text-2xl sm:text-xl bg-sky-500 hover:bg-sky-700 ;
  }
  .theme-btn-md{
      @apply m-2 rounded-[2vw] btn-enroll text-white lg:text-xl md:text-lg sm:text-base bg-sky-600 hover:bg-sky-800 ;
  }
  .bg-hero{
   @apply bg-white py-8 px-4 rounded-[10vw] ;
  }

  .text-header {
    @apply text-white font-bold text-lg;
  }
  .text-theme-title{
    @apply text-sky-800 uppercase text-shadow-lg ;
  }
  .text-subheader {
    @apply text-sky-700;
  }
   .side-theme{
     @apply bg-white text-sky-700 my-5 rounded-lg;
      
   }
   .side-sub-list{
    @apply flex items-center space-x-2 shadow py-3 px-2  w-full rounded-lg block text-start;
   }
  .bg-body {
    @apply bg-gray-100;
  }
  .bg-footer{
    @apply bg-sky-950  text-white;
  }
  .head-img{
    @apply bg-clip-content bg-contain h-auto;
  }

  .button-header {
    @apply  text-white hover:text-sky-400 ;
  }
  .active-link {
    @apply text-sky-200  font-semibold rounded;
  }
  .border-theme{
    @apply border-sky-600;
  }
  .bg-white-text{
   @apply text-sky-700  ;
  }
  .login-header {
    @apply p-1 bg-white rounded-full text-sky-600 hover:text-sky-900;
  }
  .bg-text-img{
      @apply bg-sky-500/50  p-5 text-sky-900;
  }
  .footer-link{
    @apply   text-white hover:text-sky-400;
  }
   .collapsed-content{
     @apply bg-sky-100/70 text-sky-800 mb-5;

   }
  /* === Dark Theme Overrides === */
  .dark .footer-link{
    @apply   text-white hover:text-sky-400;
  }
  .dark .bg-text-img{
      @apply bg-lime-100/50  p-5 text-teal-950;
  }
  .dark .active-link {
    @apply text-sky-500 ;
  }
  .dark .border-theme{
    @apply border-sky-600;
  }
  .dark .bg-header {
    /* @apply bg-sky-900; */
    background-color: #213445  ;
  }
  .dark .text-theme-title{
    @apply text-sky-800 uppercase text-shadow-lg text-shadow-teal-300;
  }
  .dark .bg-footer{
        background-color: #213445  ;
     color:#ffffff;
  }
  .dark .theme-btn{
      @apply m-3 rounded-full text-sky-800 px-3 py-2 transition-colors lg:text-3xl md:text-2xl sm:text-xl bg-teal-300 hover:bg-teal-500 ;
  }
  .dark .theme-btn-md{
      @apply  btn-enroll text-sky-50   lg:text-xl md:text-lg sm:text-base bg-sky-900 hover:bg-sky-700 ;
  }
  .dark .bg-body {
    background-color:  #192734;
  }
  .dark .head-img{
    @apply bg-clip-content bg-contain h-full  ;
  }
  .dark .text-header {
    @apply text-white;
  }

  .dark .text-subheader {
    @apply text-sky-50;
  }
  .dark .bg-hero{
   @apply bg-sky-700 py-8 px-4 rounded-[10vw] ;
  }
  .dark .bg-white-text{
   @apply text-sky-700  ;
  }

  .dark .login-header {
    @apply p-2 bg-sky-900 rounded-full text-white hover:text-sky-100;
  }

  .dark .button-header {
    @apply  text-white hover:text-sky-400;
  }
  .dark .text-body {
    @apply bg-sky-900;
  }

  .dark .text-h1 {
    @apply text-white;
  }
  .dark .text-h2 {
    @apply text-sky-50;
  }

  .dark .text-h3 {
    @apply text-sky-100;
  }
  .dark .text-h4 {
    @apply text-sky-200;
  }
  .dark .text-p {
    @apply text-sky-300;
  }
  .dark .text-theme-1{
    @apply text-sky-900;
  }
  .dark .text-theme-2{
    @apply text-sky-700;
  }
  .dark .text-theme-3{
    @apply text-sky-500;
  }
  .dark .bg-theme-1{
    @apply bg-sky-800;
  }
  .dark .bg-theme-2{
    @apply bg-sky-600;
  }
  .dark .side-theme{
     @apply bg-sky-950/70 text-sky-100 mb-5;
   }
   .dark .collapsed-content{
     @apply bg-sky-800/70 text-sky-100 mb-5;

   }
   
  .dark .bg-theme-3{
    @apply bg-sky-400;
  }
  .dark .bg-theme-4{
    @apply bg-sky-200;
  }
  .dark .bg-theme-5{
    @apply bg-sky-200/20;
  }
  .dark .border-input{
    @apply border border-sky-300  rounded focus:border-sky-200 focus:shadow ;

  }
  .dark .border-form-input{
    @apply border border-sky-700   ;

  }

}
